{# src/esther/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Hello {{pseudo}} !</h1>
        
        <p>
           Je m'appelle <span style="color:red">{{prenom}}</span> et j'ai {{age}} ans
        </p>
    </body>
</html>